<h2 class="scroll_heading">Work Experience</h1>

<div class="mx-5">

  <div class="clearfix mb-3">
    <img src="{{ "/assets/img/osu_logo.png" | relative_url }}" alt="osu-logo" class="float-left mr-3" width="120" height="83">
    <div style="overflow: hidden;">
      <h3>The Ohio State University</h3>
      <h4>Graduate Research Assistant</h4>
      <p>May 2013 – December 2016, May 2017 - Present</p>
      <p><em>Uncertainty quantification and visualization of ensemble simulation data using statistical and deep learning models</em></p>
      <h4>Graduate Teaching Assistant</h4>
      <p>January 2017 - May 2017</p>
      <p><em>CSE 5542 Real-Time Rendering</em>
      <br><em>CSE 5544 Introduction to Data Visualization</em>
      </p>
    </div>
  </div>

  <div class="clearfix">
    <img src="{{ "/assets/img/argonne_logo.png" | relative_url }}" alt="argonne-logo" class="float-left mr-3" width="120" height="107">
    <div style="overflow: hidden;">
      <h3>Argonne National Laboratory</h3>
      <h4>Research Aide</h4>
      <p>May 2016 – August 2016</p>
      <p><em>Parallel partial reduction for large-scale data analysis and visualization</em></p>
      <h4>Research Aide</h4>
      <p>May 2015 – August 2015</p>
      <p><em>Finite-time Lyapunov exponents and Lagrangian coherent structures in uncertain unsteady flows</em></p>
    </div>
  </div>

</div>
